body {
  background: linear-gradient(-45deg, #d64f19, #bd7313, #812819, #c70d26);
  background-size: 400% 700%;
  animation: gradient 6s ease infinite;
  font-family: 'Ubuntu Condensed', sans-serif;
   color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100px;
  border: 5px solid white;
  border-radius: 100%;
  animation: filter 3s ease infinite;
}

@keyframes filter {
  50% {
    filter: grayscale(80%);
    filter: sepia(50%);
  }

  100% {
    filter: grayscale(0%);
    filter: sepia(0%);
  }
}
.Name {
  font-family: 'Mochiy Pop P One', sans-serif;
  text-shadow: 3px 3px #e64f09;
  margin-top: 5px;
  margin-top: auto;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  animation: fall 3s ease infinite;
}

@keyframes fall {
  10% {
    transform: translateX(7px);
  }

  20% {
    transform: translateX(-7px);
  }

  30% {
    transform: translateX(6px);
  }

  40% {
    transform: translateX(-6px);
  }

  50% {
    transform: translateX(5px);
  }

  60% {
    transform: translateX(-5px);
  }

  70% {
    transform: translateX(4px);
  }

  80% {
    transform: translateX(-4px);
  }

  90% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(0px);
  }
}

.About {
  margin-top: auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.links div {
  
  position: relative;
  display: block;
  margin-bottom: 25px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  letter-spacing: 2px;
  text-align: center;
  border: 2px solid white;
  border-radius: 40px;
  width: 500px;
  max-width: 95%;
  transition: 0.3s all ease-in-out;
}

.links > div:hover {
  background-color: white;
  transition: 0.5s all ease-in;
  color: black;
}

.links > div:hover a {
  color: black;
  transition: 0.5s all ease-in;
}

a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: 'Supermercado One', cursive;
  font-size: 20px;
}

#icons {
  display: flex;
  transform: translateY(20px) translateX(15px);
  padding-top: 0%;
}

.contact {
  font-size: 13px;
  text-align-last: right;
}

.contact a {
  transition: 0.4s all ease-in;
  font-size: 17px;
  font-weight: bolder;
}

.contact a:hover {
  transition: 0.3s all ease-in-out;
  color: black;
}

.footer-text {
  text-align: center;
  font-weight: lighter;
}

.footer-text > a {
  transition: 0.4s all ease-in;
}

.footer_links {
  transition: 0.4s all ease-in-out;
}

.footer_links:hover  {
  transition: 0.3s all ease-in;
  color: black;
}

footer > h5 {
  text-align: center;
}

@media (max-width: 548px) {
  .links div {
    position: relative;
    display: block;
    width: 290px;
    max-width: 95%;
    text-align: center;
  }

  footer > p.contact {
    position: relative;
    text-align-last: right;
  }
}
